.header1-background{
      background-color:#17a2b8!important;
      height:80px;
      padding-left:150px;
      padding-top:10px;
      width:100%;
}
.bottom{
      background-color:#0c5270;
      height:80px;
      padding-left:150px;
      padding-top:10px;
      width:100%;
}
 h1{
      color:white;
 }
body{
    margin:0px;
}


.topnav {
  overflow: hidden;
  background-color:#0c5270;
  font-family: Arial, Helvetica, sans-serif;
  width:100%
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    padding-left:250px;
  }


.bottom {
  width:100%;
  height:50px;
  background-color:#0c5270;
  padding-left:145px;
  padding-top:2px;
  color:white;
  font-family:Arial;

}
#content{
   margin-left:150px;
   margin-right:150px;
}

