<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'css/Admin_page.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

<div style="background-image:url({% static 'images/intercom-telephony.png' %})">


            <div class="header1-background" >
                <h1>Fibronet Connection Management System</h1>
            </div>
            <div class="topnav" id="myTopnav">
                <a href="Admin_page">Home</a>
                <a href="Dashboard">Dashboard</a>
                <div class="dropdown">
                    <button  class="dropbtn" >Lineworkers</button>
                    <div class="dropdown-content">
                        <a href="add_lineworkers">Add Lineworkers</a>
                        <a href="lineworkers_details">Lineworkers Details</a>

                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Customers</button>
                    <div class="dropdown-content">
                        <a href="add_customers">Add Customers</a>
                        <a href="customers_details">Customers Details</a>

                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Plans</button>
                    <div class="dropdown-content">
                        <a href="admin_plan_reg">New Plans</a>
                        <a href="admin_plan_view">Current Plans</a>

                    </div>
                </div>
                <a href="complaints">Complaints</a>
                <a href="request_form">Request</a>
                <a href="Password_window">Settings</a>
                <a href="Logout_Window">Logout</a>
                <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
            </div>
            <div style="height:410px;width:100%";></div>
            <div class="bottom">
                 <p>Copyright @ 2021 - All Rights Reserved - Broadband Connection Management System</p>
            </div>


</div>

<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>













</body>
</html>