<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/customer.view.css' %}" type="text/css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>
<body>
<div class="container">
	<div class="row">
        {% for i in cus %}

		<table class="table table-hover table-responsive" border="1px">
		    <thead>
                <tr>
                    <th colspan="6"><center>ACCOUNT DETAILS</center></th>
                </tr>
                        <tr>
                            <th>Register ID</th>
                            <th>Customer Type</th>
                            <th>Using Plan</th>
                            <th>Registered Date</th>
                            <th>Pre/Postpaid</th>
                            <th>Edit</th>
                        </tr>
		    </thead>
		    <tbody>
                        <tr>
                            <td >{{i.Register_ID}}</td>
                            <td>{{i.Customer_type}}</td>
                            <td>{{i.Applied_plan}}</td>
                            <td>{{i.Registration_date}}</td>
                            <td>{{i.Pre_Postpaid_type}}</td>
                            <td><button type="button" data-toggle="modal" data-target="#edit" data-uid="1" class="update btn btn-warning btn-sm"><span class="glyphicon glyphicon-pencil"></span></button></td>
                        </tr>
		    </tbody>
		</table>
        <br>
        <table class="table table-hover table-responsive" style="background-color:yellow">
		    <thead>
                <tr>
                    <th colspan="6"><center>{{i.Full_Name}} DETAILS</center></th>
                </tr>
                        <tr>
                            <th>Full Name</th>
                            <th>Date of Birth </th>
                            <th>Address</th>
                            <th>Email</th>
                            <th>Mobile no</th>
                            <th>Edit</th>
                        </tr>
		    </thead>
		    <tbody>
                        <tr >
                            <td>{{i.Full_Name}}</td>
                            <td>{{i.Date_of_Birth}}</td>
                            <td>{{i.Address}}</td>
                            <td>{{i.Email}}</td>
                            <td>{{i.Mobile_no}}</td>

                            <td><button type="button" data-toggle="modal" data-target="#edit" data-uid="1" class="update btn btn-warning btn-sm"><span class="glyphicon glyphicon-pencil"></span></button></td>
                        </tr>
		    </tbody>
		</table>
        <br>

        <table class="table table-hover table-responsive">
		    <thead>
                <tr>
                    <th colspan="7"><center>{{i.User_Name}} INSTALLATION ADDRESS DETAILS</center></th>
                </tr>
                        <tr>
                            <th>House No </th>
                            <th>Village/Colony Name</th>
                            <th>City </th>
                            <th>State</th>
                            <th>District</th>
                            <th>Main Locality </th>
                            <th>view</th>
                        </tr>
		    </thead>
		    <tbody>
                        <tr >
                            <td>{{i.H_no}}</td>
                            <td>{{i.Village_Colony}}</td>
                            <td>{{i.City}}</td>
                            <td>{{i.State}}</td>
                            <td>{{i.District}}</td>
                            <td>{{i.Main_Locality}}</td>
                            <td><button type="button" data-toggle="modal" data-target="#edit" data-uid="1" class="update btn btn-warning btn-sm"><span class="glyphicon glyphicon-pencil"></span></button></td>
                        </tr>
		    </tbody>

		</table>
        {{i.User_Name}}
        {% endfor %}
	</div>
</div>


<script>
$(document).ready(function(){
   $(".update").click(function(){
       var id = $(this).data("uid");
       var f1 = $("#f1").html();
       var l1 = $("#l1").html();
       var m1 = $("#m1").html();
       var f2 = $("#f2").html();
       var l2 = $("#l2").html();
       var m2 = $("#m2").html();
       if(id==1){
           $("#fn").val(f1);
           $("#mn").val(m1);
           $("#ln").val(l1);
       }else if(id==2){
           $("#fn").val(f2);
           $("#mn").val(m2);
           $("#ln").val(l2);
       }
       $("#up").click(function(){
           if(id==1){
               var fn = $("#fn").val();
               var mn = $("#mn").val();
               var ln = $("#ln").val();
               $("#f1").html(fn);
               $("#m1").html(mn);
               $("#l1").html(ln);
           }else if(id==2){
               var fn = $("#fn").val();
               var mn = $("#mn").val();
               var ln = $("#ln").val();
               $("#f2").html(fn);
               $("#m2").html(mn);
               $("#l2").html(ln);
           }
       });
   });
   $(".delete").click(function(){
      var id = $(this).data("uid");
      $("#del").click(function(){
          if(id==1){
              $("#d1").html('');
          }else if(id==2){
              $("#d2").html('');
          }
      });
   });
});
</script>
</body>
</html>


















