<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>CHANGE PASSWORD</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'css/Password_window.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>

<div >


            <div class="header1-background" >
                <h1>Fibronet Connection Management System</h1>
            </div>
            <div class="topnav" id="myTopnav">
                <a href="#about">Home</a>
                <a href="Dashboard">Dashboard</a>
                <div class="dropdown">
                    <button  class="dropbtn" >Lineworkers Management</button>
                    <div class="dropdown-content">
                        <a href="add_lineworkers">Add Lineworkers</a>
                        <a href="lineworkers_details">Lineworkers Details</a>

                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Customers Management</button>
                    <div class="dropdown-content">
                        <a href="add_customers">Add Customers</a>
                        <a href="customers_details">Customers Details</a>

                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Plans Management</button>
                    <div class="dropdown-content">
                        <a href="admin_plan_reg">New Plans</a>
                        <a href="admin_plan_view">Current Plans</a>

                    </div>
                </div>

                <a href="Password_window">Change Password</a>
                <a href="Logout_Window">Logout</a>
                <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>

            </div>
            <form onsubmit ="return validateForm()" method="POST" action="Admin_oldpswd">
                {% csrf_token %}
  	    <div class="container">

    		<h2 style="padding-top:4px">Change Your Password</h2>
    		<hr>

    		<input type="text" placeholder="Enter Old Password" name="oldpswd" id="oldpswd" required><br>


    		<input type="password" placeholder="Enter New Password" name="pswd1" id="pswd1" >
            <span id = "message1" style="color:red"> </span><br>
    		<input type="password" placeholder="Repeat Password" name="pswd2" id="pswd2" >
            <span id = "message2" style="color:red"> </span><br>
            <input type="hidden" value="id" name="id">

    		<button type="submit" class="registerbtn">Save</button>
            {{cmt}}
  	   </div>
           <br><br>
           <div class="bottom">
                 <p>Copyright @ 2021 - All Rights Reserved - Broadband Connection Management System</p>
           </div>
</form>
</div>

<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}




function validateForm() {
    //collect form data in JavaScript variables
    var pw1 = document.getElementById("pswd1").value;
    var pw2 = document.getElementById("pswd2").value;



    //check empty password field
    if(pw1 == "") {
      document.getElementById("message1").innerHTML = "**Fill the password please!";
      return false;
    }

    //minimum password length validation
    if(pw1.length < 8) {
      document.getElementById("message1").innerHTML = "**Password length must be atleast 8 characters";
      return false;
    }

    //maximum length of password validation
    if(pw1.length > 15) {
      document.getElementById("message1").innerHTML = "**Password length must not exceed 15 characters";
      return false;
    }
    //check empty confirm password field
    if(pw2 == "") {
      document.getElementById("message2").innerHTML = "**Enter the password please!";
      return false;
    }



    if(pw1 != pw2) {
      document.getElementById("message2").innerHTML = "**Passwords are not same";
      return false;
    } else {
      alert ("Your password created successfully");

    }
 }
</script>













</body>
</html>